<html>

<head>
  <meta charset="UTF-8">


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">Inicio <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Buscar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/product/name/">Por nombre</a>
            <a class="dropdown-item" href="/product/category/">Por categoria</a>
            <a class="dropdown-item" href="/product/brand/">Por marca</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pedidos/buscarPedido">Pedido <span class="sr-only"></span></a>
        </li>

      </ul>
    </div>
  </nav>
  {% block content %}


  {% endblock content %}

</body>



</html>