
{% extends 'piezasRevive/base.html' %}

{% load static %}


{% block title %}Piezas Revive{% endblock %}

{% block content %}

<!doctype html>
<html lang="es"> 
  
  <body>
    {% if message %}
    <div class="alert alert-success" role="alert">
      {{message}}  
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    {% endif %}
    {% if user.is_authenticated %}
   
{% endif %}
    
    
<main>

  <div class="container text-center">
    {% for trio in trios_productos %}
    <div class="row">
        {% for producto in trio %}
        <div class="col-12 col-md-4 text-center">
            <div class="card" style="max-height: fit-content; max-width: fit-content;">
                <img src={{producto.imagen}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/products/{{producto.id}}">
                            {{producto.nombre}}
                        </a>
                    </h5>
                    <p class="card-text">{{producto.precio}}€</p>
                    <!--
                        <p class="card-text">{{producto.genero.nombre}}</p>
                        <p class="card-text">{{producto.fabricante.nombre}}</p>
                        <p class="card-text">{{producto.seccion.nombre}}</p>
                    -->
                    {% if producto.stock > 0 %}
                    <form action="/addproduct/{{producto.id}}" method="GET" id="add_product">
                        <input type="number" min="1" max="{{producto.stock}}" id="amount"
                            name="amount" placeholder="Selecciona una cantidad:" style="width: 50%;">
                        <button type="submit" href="#" class="btn btn-primary">+ <i
                                class="fas fa-shopping-basket"></i></button>
                    </form>
                    {% else %}
                    <span style="background-color: red; border-radius: 5%; color: white; min-width: 200%;">SIN STOCK</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <hr>
    </hr>
    {% endfor %}
</div>
</main>


      
  </body>
  
  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>

{% endblock %}

