{% extends 'piezasRevive/base.html' %}
{% load static %}

{% block title %}Piezas Revive{% endblock %}

{% block content %}

<head>
  <style>
    .limpiar-carrito {
      color: #333A42;
    }
  </style>
</head>


<div class="container d-flex justify-content-center align-items-center vh-100">
  <table class="table table-bordered" >
<br>
    <thead>
      <tr>
        <th colspan="3" class="text-center">
          Carrito compra
        </th>
      </tr>
      <tr>
        <th style="width: 180px;">key</th>
        <th style="width: 180px;">Producto</th>
        <th style="width: 100px;">Unidades</th>
        <th style="width: 140px;">Editar</th>
        <th style="width: 150px;">Suma</th>
      </tr>
    </thead>

    <tbody>
      {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items %}
      <tr class="text-center">
        <td>{{key}}</td>
        <td>{{value.nombre}}</td>
        <td style="text-align: center;">{{value.cantidad}}</td>
        <td>
          <form method="GET">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-secondary" formaction="{% url 'carrito:restar' key %}"
                  style="width: 35px; text-align: center;">-</button>

                <button type="submit" class="btn btn-success" formaction="{% url 'carrito:agregar' key %}"
                  style="width: 35px; text-align: center;">+</button>
              </div>
              <input class="form-control" type="number" placeholder="Unidades" size="1" name="cantidad" value="1"
                min="1" max="{{value.cantidad}}" required=true style="width: 90px;">
              <input type="hidden" name="next" value="{{ request.path }}">
            </div>
          </form>
        </td>
        <td tyle="text-align: center;"> {{value.precio}} € </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="3">
          <div class="alert alert-danger text-center">
            Sin Productos
          </div>
        </td>
      </tr>
      {% endif %}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">
          Total: {{carrito.precio_total}} €
        </td>
        <td colspan="3" style="text-align: center;">
          <a class="limpiar-carrito" href="{% url 'carrito:limpiar' %}" class="text-center">Limpiar Carrito</a>
        </td>
      </tr>
      <tr></tr>
      {% if request.session.cesta.items %}
      <tr>
        <td colspan="3" style="text-align: center;">
          <a href="{% url 'pedidos:hacer_pedido' %}" class="btn btn-sm btn-success">Hacer pedido</a>
        </td>
      </tr>
      {% endif %}
    </tfoot>

  </table>
</div>

{% endblock %}