{% extends 'piezasRevive/base.html' %}
{% load static %}

{% block title %}Piezas Revive{% endblock %}

{% block content %}

<table class="table table-bordered">

  <thead>

    <tr>
      <hr>
      <th colspan="3" class="text-center">
        Carrito compra
      </th>

    </tr>

    <tr>

      <th style="width: 180px;">Producto</th>
      <th style="width: 100px;">Unidades</th>
      <th style="width: 150px;">Suma</th>



    </tr>



  </thead>

  <tbody>
    {% if request.session.carrito.items %}

    {% for key, value in request.session.carrito.items %}

    <tr class="text-center">

      <td>{{value.nombre}}</td>
      <td style="text-align: center;">{{value.cantidad}}</td>
      <td>

        {{value.precio}} €


      </td>


    </tr>



    {% endfor %}

    {% else %}

    <tr>

      <td colspan="3">
        <div class="alert alert-danger text-center">

          Sin Productos
        </div>
      </td>


    </tr>


    {% endif %}




  </tbody>
  <hr>
  <tfoot>

    <tr>

      <td colspan="3">
        Total: {{carrito.precio_total}} €

      </td>
      <td colspan="3" style="text-align: center;">

        <a href="{% url 'carrito:limpiar' %}" class="text-center">Limpiar Carrito</a>

      </td>

    </tr>
    <tr>


    </tr>

    {% if request.session.cesta.items %}
    <tr>

      <td colspan="3" style="text-align: center;">

        <a href="{% url 'pedidos:hacer_pedido' %}" class="btn btn-sm btn-success">Hacer pedido</a>


      </td>

    </tr>
    {% endif %}

  </tfoot>



</table>


{% endblock %}