{% extends 'piezasRevive/base.html' %}

{% block title %}Detalles de Reclamación{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">Detalles de Reclamación</h2>
    
    <form class="needs-validation" novalidate>
      <div class="mb-3">
        <label class="form-label">Correo usuario: </label>
        <input type="text" class="form-control" value="{{ reclamacion.pedido.email }}" readonly>
      </div>
      <div class="mb-3">
        <label class="form-label">Pedido:</label>
        <input type="text" class="form-control" value="{{ reclamacion.pedido.id }}" readonly>
      </div>
      <div class="mb-3">
        <label class="form-label">Motivo:</label>
        <input type="text" class="form-control" value="{{ reclamacion.motivo }}" readonly>
      </div>
      <div class="mb-3">
        <label class="form-label">Descripción:</label>
        <textarea class="form-control" readonly>{{ reclamacion.descripcion }}</textarea>
      </div>
      
      <!-- Agrega más campos según sea necesario -->

    </form>
  </div>
{% endblock %}
