{% extends 'piezasRevive/base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}Piezas Revive{% endblock %}

{% block content %}

<!doctype html>
<html lang="es">
  
  <body>  
      <div class="container my-2"></div>

        {% for pedido, items in lineas_pedido.items %}
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">
                            Pedido {{pedido.id}}
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 175px;">Producto</th>
                        <th style="width: 50px;">Unidades</th>
                        <th style="width: 125px;">Suma</th>
                    </tr>
                </thead>
        
                <tbody>
            
                    {% for linea in items %}
        
                        <tr class="text-center">
        
                            <td>{{linea.producto.nombre}}</td>
                            <td>{{linea.cantidad}}</td>
                            <td>
        
                                {{linea.cantidad |mul:linea.producto.precio }} €
        
                            </td>
        
                        </tr>
        
        
        
                    {% endfor %}

            
                </tbody>
            
                <tfoot>
            
                    <tr>
            
                        <td colspan="3">
                            Total: {{pedido.precio_final}} €
            
                        </td>
            
                    </tr>
            
                </tfoot>
            
            
            
            </table>
            <div>
                <p>Estado: <b>{% if pedido.estado_pedido == 'en_espera' %}en espera{% else %}{{pedido.estado_pedido}}{% endif %}</b></p>
                <p>Forma de entrega: <b>{{ pedido.forma_entrega }}</b></p>
                <p><a style="color:#222831;"href="/reclamaciones/{{pedido.id}}">Poner una reclamacion</a></p>
            </div>
        </div>
        {% endfor %}
      </div>
  </body>
  
  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>

{% endblock %}
